.l-navbar
  a.l-navbar__logo-mask(href="index.html" target="_blank")
    img(src="../../dist/img/logo/Hayleyspilates-LOGO-01.svg", alt="海莉皮拉提斯,pilates") 
  ul.l-navbar__btn-box
    li.l-navbar__btn-wrap
      a.l-navbar__btn(href="about.html") 關於我們 
    li.l-navbar__btn-wrap
      a.l-navbar__btn(href="introduce.html") 課程介紹/報名
    li.l-navbar__btn-wrap
      a.l-navbar__btn(href="classroom.html") 教室環境
    li.l-navbar__btn-wrap
      a.l-navbar__btn(href="contact.html") 聯絡我們
    li.l-navbar__btn-wrap
      a.l-navbar__btn(href="faq.html") FAQ
  .l-navbar__burger-mask
    img(src="", alt="")