-
  const baseUrl = 'https://url-hayleyspilates.com.tw'
  const siteName = "Hayley's Pilates｜海莉皮拉提斯"
  let path = ''
  let pageTitle = ''
  let infoTitle = '在每一次的呼吸中，找到力量。'
  let description = '皮拉提斯運動，優雅溫和的運動，藉由每一次的伸展成為更好的自己'
  let image = 'img/og/og.jpg'